$selectedColor =#9DD967
$headerColor = linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
$tabColor = linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
$fontColor =#777777
$priceColor = #FF8374
$titleColor =#498DB5
$fontSize = .7rem